* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

img {
    max-width: 100%;
}

header {
    background-color: #1f2937;
    width: 100%;
}


/* navigation items */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    width: 80%;
    margin: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    text-decoration: none;
    font-size: larger;
    color: #f9faf8;
    text-transform: lowercase;
    font-size: 36px;
}

.nav-item {
    font-size: 18px;
    margin-right: 20px;
    text-decoration: none;
    font-size: larger;
    color: #f9faf8;
}



/* hero style */
.hero {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.hero-content {
    width: 48%;
}

.hero-img {
    width: 48%;
    padding: 30px;
}

h1.hero-heading {
    font-size: 42px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #f9faf8;
    text-align: left;
}

.hero-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f9faf8;
    font-weight: 600;
}

button.sign-up {
    color: #1f2937;
    border: 1px solid #0f2545;
    background-color: #f9faf8;
    padding: 5px 12px;
    font-size: 20px;
    border-radius: 4px;
}

button.sign-up:hover {
    color: #e6eaf0;
    background-color: chocolate;
    transition: 0.4s;
    cursor: pointer;
}

/* about */

h1 {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    color: #0f2545;
    margin-top: 30px;
    margin-bottom: 30px;
}

section.about {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}


#about div figure {
    width: 200px;
    height: 200px;
    border: 1px solid;
}

figure {
    overflow: hidden;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    color: #0f2545;
}

figure:hover img {
    transform: scale(1.2);
    transition: 1.3s;
}